#Unity 관련 임시 파일 및 캐시
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]og/
/[Ll]ogs/
/UserSettings/
/[MemoryCaptures]/

# 에셋 스토어 
/[Aa]ssets/AssetStoreTools*

# IDE(Visual Studio, Rider 등)
.vs/
.gradle/
ExportedObj/
.idea/
*.sln
*.csproj
*.unityproj
*.suo
*.user
*.userosscache
*.sln.docstates

# OS
.DS_Store
Thumbs.db
